<p>
  Modify me in `app/views/homes/index.html.erb` or change the root directive in
  `config/routes.rb`
</p>

<% if current_user %>
<%= image_tag(current_user.profile_photo) if current_user.profile_photo %>
<% end %>
